* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

.title {
  font-size: 4rem;
}

.muted-text {
  color: gray;
}

.highlighted-text {
  background-color: yellow;
}

.header,
article,
aside {
  padding: 1rem;
}

.header {
  background: #4ea0ff url("../img/pattern.png");
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header .title {
  width: fit-content;
  color: #ffffff;
  font: 500 2rem "Franklin Gothic Medium", sans-serif;
  text-shadow: 1px 1px 4px #000;
  position: relative;
}

.header .title h4 {
  position: absolute;
  left: 2.3rem;
  top: -0.8rem;
}

.article .article-header .images {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.article .article-header .images figure {
  flex-basis: calc(50% - 0.5rem);
}

.article .article-header .images img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.article .article-header p {
  font-weight: 700;
  font-size: 2rem;
}

.article .article-writer {
  margin-top: 0.5rem;
}

.article .article-writer a {
  color: #4ea0ff;
}

.article p.publish-date {
  font-size: 1.4rem;
  font-weight: 600;
}

.article .article-body ul {
  margin: 2rem 0;
  list-style: inside;
}

.article-table {
  border-collapse: collapse;
}

.article-table thead tr {
  background-color: #296dbb;
  color: #fff;
}

.article-table tbody tr:nth-child(odd) {
  background-color: #4ea0ff;
}

.article-table tbody tr td:last-child {
  width: 50%;
}

.article-body .article-table + p {
  margin: 2rem 0;
}
